{% extends 'events/base.html' %}
{% block content %}

    {% for event in events %}
            <a href="{% url 'events:event_detail' event.pk %}">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                <img class="rounded-circle article-img" src="{{ event.created_by.profile.image.url }}">
                <h5 class="card-title">{{ event.title }}</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">{{ event.location_city }}</h6>
                <p class="card-text">{{ event.description }}.</p>
                </div>
            </div>
            </a>
    {% endfor %}
{% endblock content %}


