{% extends 'events/base.html' %}
{% load static %}

{% block content %}
<div class="container my-5">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 justify-content-center">
        {% for event in events %}
        <div class="col">
            <div class="card card-custom">
                <div class="card-body text-center">
                    <div class="mb-3">
                        {% if event.created_by.profile.image %}
                            <img src="{{ event.created_by.profile.image.url }}" class="rounded-circle" width="40" height="40" alt="Profile picture">
                        {% else %}
                            <img src="{% static 'default.jpg' %}" class="rounded-circle" width="40" height="40" alt="Default profile picture">
                        {% endif %}
                    </div>
                    <h5 class="card-title text-truncate">{{ event.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">{{ event.location_city }}</h6>
                    <p class="card-text">{{ event.description|truncatechars:50 }}</p>
                    <a href="{% url 'events:event_detail' event.pk %}" class="btn btn-link">Event Details</a>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col-12 text-center">
            <p>No events found.</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
