{% extends "events/base.html" %}
{% block content %}
<article class="media content-section">
    <img class="rounded-circle article-img" src="{{ event.created_by.profile.image.url }}">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ event.created_by }}</a>
            <small class="text-muted">{{ event.created_at|date:'dS, F, Y'}}</small>
        </div>
            <h2><a class="article-title" href="#">{{ event.title }}</a></h2>
            <p class="article-content">{{ event.description }}</p>
    </div>
</article>
{% endblock content %}  